//Variables
$ash-white: #ccc;
$tint-red:  #f90e07;
$white: #fff;

* {
	box-sizing: border-box;
  list-style: none;
}
body {
	overflow: hidden;
}
html, body {
	margin: 0;
	padding: 0;
  background: $white;
}

nav {
  .login {
    display: inline-block;
    font-size: 21px;
    width: auto;
    padding-top: auto;
    padding-bottom: auto;
    border-radius: 0;
    border: 0s solid transparent;
    font-size: 16;
  }
  .brand-logo{
    margin-left: 24px;
  }
}
/** Home Page container section **/
.bbc{
  color:  $tint-red;
}

/* dashboard section */
.dashboard{
	display: flex;
	overflow: hidden;
	padding-bottom: 100px;
	margin-bottom: 0;
	width: 100%;
	height: 100vh;
	-webkit-backface-visibility: hidden;
	will-change: overflow;

  .sidebar{
    overflow: auto;
    overflow-x: hidden;
    height: auto;
    padding: 0.5rem;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -ms-overflow-style: none;

    .list:hover {
      cursor: pointer;
      background: $ash-white;
    }
  }

  .content {
    background: $white;
    overflow: auto;
    height: auto;
    padding: 0.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    .card.small {
      height: 25vh;
      font-size: 23px;
    }
    .card-image{
      width: 300px;
      .card-image-news{
        width: 300px;
      }
    }
    .sidebar-image{
      position: relative;
    }
    .description{
      font-size: 20px;
    }
  }

  .card {
	  margin: 0;
  }
  .list2:hover {
    cursor: pointer;
    background: $ash-white;
  }
}

@media only screen and (min-width: 601px) {
	.button-collapse{
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	nav .brand-logo {
		margin-left: -33%;
		position: relative;
	}
}

